.topnav {
    background-color: beige;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.topnav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 1%;
    width: 200px;
}

.topnav a:hover{
    background-color: #d1d1bb;
}

.active {
    background-color: burlywood;
}

.box {
    background-color: hsl(0, 0%, 81%);
    margin: 30px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: auto 1fr;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}